middleware/cam/.stack-work
backend/tests/rts/*.exe
backend/tests/rts/*.exe.dSYM
backend/TAGS

# General
*~
*#
*.bak
*.swp

# C stuff
*.o
*.a
*.dylib

# Haskell
*.hi
frontend/CamIoT/.stack-work/

frontend/grammar/
!frontend/grammar/tiny_camiot.cf

frontend/CamIoT/src/Frontend/
!frontend/CamIoT/src/Frontend/tiny_camiot.cf
!frontend/CamIoT/src/Frontend/ParseTinyCamiot.hs


# Directories

infer-out
spec/plantuml-images

# Documents
*.pdf

# Executable
*.exe

# tiny_camiot specific
frontend/grammar/Absyn.c
frontend/grammar/Absyn.h
frontend/grammar/Absyn.o
frontend/grammar/Lexer.c
frontend/grammar/Lexer.o
frontend/grammar/Makefile
frontend/grammar/Makefile~
frontend/grammar/Parser.c
frontend/grammar/Parser.h
frontend/grammar/Parser.o
frontend/grammar/Printer.c
frontend/grammar/Printer.h
frontend/grammar/Printer.o
frontend/grammar/Skeleton.c
frontend/grammar/Skeleton.h
frontend/grammar/Test.c
frontend/grammar/Test.o
frontend/grammar/Testtiny_camiot
frontend/grammar/tiny_camiot.l
frontend/grammar/tiny_camiot.y

#stack specific
frontend/CamIoT/.stack-work/
frontend/CamIoT/stack.yaml.lock
